 <section class="footer_carosal">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_carosal_icon owl-carousel owl-theme">
                            <div class="item">
                                <img src="img/microsoft.png" alt="">
                            </div>
                            <div class="item">
                                <img src="img/envato.png" alt="">
                            </div>
                            <div class="item">
                                <img src="img/yahoo.png" alt="">
                            </div>
                            <div class="item">
                                <img src="img/jquery.png" alt="">
                            </div>
                            <div class="item">
                                <img src="img/amazon.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-charity-text">
                            <h2>WRAPA</h2>
                            <p>WRAPA is dedicated to help eradicate diseases in Nigeria especially in the Niger Delta riverine communities with help of funding from NNPC/Chevron Nigeria Limited to be able to effectively carry out the project. NNPC/Chevron Nigeria Limited has trusted WRAPA over the years to accomplished the vision and Mission of NNPC/Chevron Nigeria Limited and WRAPA</p>
                            <hr>
                            <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-5">
                                <div class="footer-text one">
                                    <h3>RECENT Event </h3>
                                    <ul>
                                        <li><a href="{% url 'Rollback' %}"><i class="material-icons">Rollback Malaria</i></a></li> <br>
                                        <li><a href="{% url 'Deworming' %}"><i class="material-icons">Deworming</i></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <div class="footer-text two">
                                    <h3>USEFUL LINKS</h3>
                                    <ul>
                                        <li><a href="{% url 'Index' %}">Home</a></li>
                                        <li><a href="{% url 'About' %}">About Us</a></li>
                                        <li><a href="{% url 'Rollback' %}">Rollback Malaria</a></li>
                                        <li><a href="{% url 'Deworming' %}">Deworming</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="footer-text one">
                                    <h3>CONTACT US</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">Address: <br>
										N0 101, Oyemekun Road,Akure, Ondo State</i><br>
										</a></li> <br>
                                        <li><a href="#"><i class="material-icons">Email: <br>ondostatewrapa@yahoo.co.uk</i><br>
										</a></li><br>
                                        <li><a><i class="material-icons">Phone: <br>+2348060637775</i>
										</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed by <a href="https://eaglepridelimited.com" target="_blank">Eagle Pride Limited</a>
            </div>
        </footer>