
<header class="header">
<section class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="contact">
                                <p><span class="phone"><a href="#">Phone: +1023546789</a></span><span class="email"><a href="#">Email: testdomain@gmail.com</a></span></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
             <section class="header-bottom">
<section class="navbar navbar-fixed-top custom-navbar header-bottom" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			
		</div>
		<div class="collapse navbar-collapse">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="menu">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#work" class="smoothScroll">WORK</a></li>
				<li><a href="#about" class="smoothScroll">ABOUT</a></li>
				<li><a href="#team" class="smoothScroll">TEAM</a></li>
				<li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>
				<li><a href="#pricing" class="smoothScroll">PRICING</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
			</ul>
            </div>
            </div>
		</div>
	</div>
</section>

</header>